<html lang="en">  
    <head>  
        <title>Index Page</title>  
    </head>  
    <body>  
        <form action="save" method="post">  
            <table>  
             <tr>  
                    <td><label for="amount">Amount</label></td>  
                    <td><input type="number" name="amount"></input></td>  
                </tr> 
                <tr>  
                    <td><label for="agreementtype">Agreement Type</label></td>  
                    <td><input type="text" name="agreementtype"></input></td>  
                </tr>  
                 <tr>  
                    <td><label for="startdate">Start Date</label></td>  
                    <td><input type="text" name="startdate"></input></td>  
                </tr>  
                 <tr>  
                    <td><label for="enddate">End Date</label></td>  
                    <td><input type="text" name="enddate"></input></td>  
                </tr>  
                 
                    <td></td>  
                    <td><input type="submit" value="Submit"></input></td>  
                </tr>  
            </table>  
        </form>  
    </body>  
</html>  